body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    height: 10vh;
    width: 100%;
    background-color: #7f888b;
    -webkit-box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.8);
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: #aaaaaa;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 20vh;
    width: 100%;
    background-color: #7f888b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header nav {
    width: 90%;
}
.header nav ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header nav ul div {
    display: flex;
    align-items: center;
}
.header nav ul div:first-child {
    flex-grow: 1;
}
.header nav ul div:last-child {
    width: 25%;
    justify-content: space-evenly;
}
.header nav ul li {
    display: inline-block;
}
.header nav ul li a {
    display: block;
    text-decoration: none;
    margin: 2% 0;
    background-color: #e4e4e4;
    color: #505658;
    border-radius: 35px;
    font-size: 1rem;
    transition: background-color .5s ease;
    width: 100%;
    padding: 20% 40%;
}
.header nav ul li a:hover {
    background-color: #cfcfcf;
}

.user_btn {
    padding: 40% !important;
}

.userIcon {
    color: #7f888b;
}