<div class="app">
    <form class="url_form" action="execute" method="GET">
        <input class="url_input" type="url" name="url" id="" placeholder="URL...">
        <label class="url_select" for="slc">
            <select name="site" id="slc">
                <option value="">Site</option>
                <option value="site 1">Site 1</option>
                <option value="site 2">Site 2</option>
                <option value="site 3">Site 3</option>
            </select>
            <i class="fas fa-sort-down"></i>
        </label>
        <input class="url_submit" type="submit" value="✔️">
    </form>
</div>
