.account {
    width: 60%;
    height: 60vh;
    background-color: #7f888b;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu {
    width: 30%;
    height: 100%;
    border-right: solid 2px #aaaaaa;
}
.menu ul li {
    width: 75%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #505658;
    background-color: white;
    padding: 4%;
    margin: 10% 0;
    transition: all .5s ease;
    border-radius: 35px;
    text-align: center;
}

.menu ul li:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}

.accountview {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    width: 50%;
    height: 10%;
    background-color: white;
    border-radius: 35px;
    padding: 4%;
    color: #505658;
    display: none;
}

.profile h2 {
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
}
.profile p {
    display: inline-block;
    margin-left: 5%;
    font-size: 1.2rem;
}

.dataform {
    width: 50%;
    background-color: white;
    border-radius: 35px;
    padding: 4%;
    color: #505658;
    display: none;
}

.gsheet_form {
    margin: 10% 0;
}
.open {
    display: block;
}